<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="dataset" default="/home/aaron/datasets/vnav/MH_01_easy.bag" />
  <arg name="path_to_dataset" default="/home/aaron/datasets/vnav/MH_01_easy.bag"/>

  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>
  <arg name="image" default="/cam1/image_raw" />


  <!-- <node pkg="VO_project" type="test_read" name="test_read" output="screen"> 
  </node> -->
  <!-- Tip: press space on the terminal you ran this roslaunch to pause the rosbag-->
  <node name="rosbag" pkg="rosbag" type="play" output="screen" args="--clock $(arg path_to_dataset)"/>
  <!-- visualization -->
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab_8)/rviz/teddy_tf.rviz" /-->
</launch>


